<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-react-helmet="true">珠穆朗玛</title>
<meta data-react-helmet="true" charset="utf-8" />
<meta data-react-helmet="true" http-equiv="x-dns-prefetch-control" content="on" />
<meta data-react-helmet="true" name="keywords" content="有声小说,喜马拉雅,喜马拉雅听书,喜马拉雅电台,喜马拉雅好声音,网络电台,个人电台,音频,有声书,相声,儿童,音乐,情感,郭德纲,罗辑思维,糗事百科" />
<meta data-react-helmet="true" name="description" content="国内专业音频分享平台，随时随地，听我想听！4亿用户选择的在线音频平台。马东、郭德纲、吴晓波等20多万大咖入驻，1亿多条原创有声内容覆盖有声书、儿童、相声评书、财经新闻、音乐等328类。" />
<meta data-react-helmet="true" http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta data-react-helmet="true" content="webkit" name="renderer" />
<meta data-react-helmet="true" http-equiv="X-UA-Compatible" content="chrome=1" />
<meta data-react-helmet="true" name="applicable-device" content="pc,mobile" />
<meta data-react-helmet="true" http-equiv="Cache-Control" content="no-transform" />
<meta data-react-helmet="true" http-equiv="Cache-Control" content="no-siteapp" />
<meta data-react-helmet="true" name="google-site-verification" content="Ndgaz7H1uQvWACwf_q2IxyLYxBnomEREr1P_EsPq1GI" />
<link data-react-helmet="true" rel="canonical" href="https://www.ximalaya.com/" />
<link data-react-helmet="true" rel="dns-prefetch" href="//s1.xmcdn.com" />
<link data-react-helmet="true" rel="dns-prefetch" href="//imagev2.xmcdn.com" />
<link data-react-helmet="true" rel="dns-prefetch" href="//fdfs.xmcdn.com" />
<link rel="stylesheet" type="text/css" href="css/e3d3b.css" th:href="@{css/e3d3b.css}"/>
</head>
<body>
	<div id="root">
		<header class="holder-empty _22L">
			<div id="rootHeader" class="xui-header _tvdQ" style="top:0px">
				<div class="xui-header-inner _tvdQ">
					<a class="xui-header-logo _tvdQ" href="/">喜马拉雅</a>
					<nav class="xui-header-nav pos-r _tvdQ">
						<span class="tab-link-category _tvdQ"><a
							class="tab-link hide-arrow _tvdQ active" aria-current="true"
							href="/"><span class="_tvdQ">发现</span></a>
						<div class="header-category-wrapper _tvdQ"></div></span><a
							class="tab-link _tvdQ" rel="nofollow" href="/my/"><span
							class="_tvdQ">我的</span></a><a
							href="http://www.ximalaya.com/download/" target="_blank"
							class="tab-link p-l-10 _tvdQ" style="width:70px"><span
							class="_tvdQ">APP下载</span></a>
						<div class="pos-a header-bottom-action _tvdQ" style="left:56px"></div>
					</nav>
					<div class="xui-header-searchWrapper _tvdQ">
						<form class="xui-header-search focused" autoComplete="off">
							<input type="text" class="xui-header-search-input"
								placeholder="专辑/声音/用户" autoComplete="new-password" value=""
								readonly="" /><span
								class="xui-header-search-button xui-header-search-button_position"><i
								class="xuicon xuicon-web_ic_search"></i></span>
							<div class="slide-exited">
								<div class="xui-header-search-suggest">
									<ul class="xui-header-search-suggest-result"></ul>
									<div></div>
								</div>
							</div>
						</form>
					</div>
					<div class="xui-header-iconNav _tvdQ">
						<a href="http://www.ximalaya.com/upload/" target="_blank"
							class="xui-header-iconNav-item  header-gray _tvdQ" rel="nofollow"><i
							class="xuicon xuicon-web_ic_upload_h1 _tvdQ"></i>
						<p class="title _tvdQ">上传</p></a><a href="http://studio.ximalaya.com/"
							class="xui-header-iconNav-item  header-gray  _tvdQ"
							rel="nofollow"><i
							class="xuicon xuicon-web_ic_backstage_h1 _tvdQ"></i>
						<p class="title _tvdQ">主播后台</p></a><a href="http://xpy.ximalaya.com/"
							class="xui-header-iconNav-item  header-gray _tvdQ"
							target="_blank" rel="nofollow"><i
							class="xuicon xuicon-web_ic_xpy _tvdQ"></i>
						<p class="title _tvdQ">喜配音</p></a><a
							href="https://ximalayahaoshengyin.tmall.com/"
							class="xui-header-iconNav-item header-gray _tvdQ" target="_blank"
							rel="nofollow"><i
							class="xuicon xuicon-web_ic_xiaoya_h1 _tvdQ"></i>
						<p class="title _tvdQ">小雅音箱</p></a>
						<div class="xui-header-iconNav-item _tvdQ"
							style="width:60px;margin-left:20px">
							<div class="user-notice _pZ5">
								<img class="img _pZ5"
									src="https://s1.xmcdn.com/lib/xmweb/images/default_9c0f537.png"
									alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main class="main-content _22L">
			<section class="_k1je">
				<svg role="img" aria-labelledby="Loading interface..."
					viewBox="0 0 400 280" preserveAspectRatio="xMidYMid meet">
					<title>Loading interface...</title><rect x="0" y="0" width="400"
						height="280" clip-path="url(#6bmng2occiu)"
						style="fill:url(#ulg9zgxx45m)"></rect>
					<defs>
					<clipPath id="6bmng2occiu">
					<rect x="0" y="4" rx="0" ry="0" width="400" height="100"></rect>
					<rect x="0" y="110" rx="0" ry="0" width="400" height="55"></rect>
					<rect x="0" y="170" rx="0" ry="0" width="300" height="120"></rect>
					<rect x="310" y="170" rx="0" ry="0" width="100" height="40"></rect>
					<rect x="310" y="215" rx="0" ry="0" width="100" height="65"></rect></clipPath>
					<linearGradient id="ulg9zgxx45m">
					<stop offset="0%" stop-color="#f3f3f3" stop-opacity="1">
					<animate attributeName="offset" values="-3; 1" dur="2s"
						repeatCount="indefinite"></animate></stop>
					<stop offset="50%" stop-color="#ecebeb" stop-opacity="1">
					<animate attributeName="offset" values="-2; 2" dur="2s"
						repeatCount="indefinite"></animate></stop>
					<stop offset="100%" stop-color="#f3f3f3" stop-opacity="1">
					<animate attributeName="offset" values="-1; 3" dur="2s"
						repeatCount="indefinite"></animate></stop></linearGradient></defs></svg>
			</section>
			<div class="__vo2">
				<div class="float-bar __vo2">
					<div class="float-bar-item __vo2">
						<div
							class="float-bar-item-icon float-bar-item-hasArrow gray-c pointer-orange __vo2">
							<i class="float-bar-t-35 xuicon xuicon-QRcode __vo2"></i>
						</div>
						<div class="float-bar-item-content __vo2">
							<div class="float-bar-qrcode-box p-t-20 __vo2"
								style="width:260px">
								<div class="p-l-30 p-r-30 __vo2">
									<div class="float-bar-qrcode-title __vo2">下载手机APP</div>
									<div class="float-bar-qrcode __vo2">
										<img style="width:140px;height:140px"
											src="https://s1.xmcdn.com/lib/xmweb/images/QRCode_c35aacf.png"
											alt="" class="__vo2" />
									</div>
									<div class="float-bar-qrcode-content gray-9 __vo2">
										<div class="__vo2">扫一扫 下载喜马拉雅手机APP</div>
									</div>
								</div>
								<div class="float-bar-qrcode-type p-t-15 p-b-20 __vo2"
									style="margin-top:15px">
									<div class="p-b-15 gray-6 __vo2">选择下载方式</div>
									<div style="overflow:hidden" class="__vo2">
										<a
											href="http://www.ximalaya.com/down?tag=and-sem-baidu&amp;client=ios"
											target="_blank" style="display:block;width:33.3%"
											class="fl t-c gray-9 pointer-orange __vo2"><i
											class="xuicon xuicon-iOS gray-c float-bar-t-30 __vo2"></i>
										<div class="float-bar-p-t-5 __vo2">iPhone</div></a><a
											href="http://www.ximalaya.com/down?tag=web&amp;client=android"
											target="_blank" style="display:block;width:33.3%"
											class="fl t-c gray-9 pointer-orange __vo2"><i
											class="xuicon xuicon-android gray-c float-bar-t-30 __vo2"></i>
										<div class="float-bar-p-t-5 __vo2">Android</div></a><a
											href="http://www.ximalaya.com/down?tag=web&amp;client=wp"
											target="_blank" style="display:block;width:33.3%"
											class="fl t-c gray-9 pointer-orange __vo2"><i
											class="xuicon xuicon-wp gray-c float-bar-t-30 __vo2"></i>
										<div class="float-bar-p-t-5 __vo2">Windows</div></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="float-bar-item __vo2">
						<div
							class="float-bar-item-icon float-bar-item-hasArrow gray-c pointer-orange __vo2">
							<i class="float-bar-t-35 xuicon xuicon-WeChat __vo2"></i>
						</div>
						<div class="float-bar-item-content __vo2">
							<div
								class="float-bar-qrcode-box p-t-20 p-l-20 p-r-20 p-b-20 __vo2">
								<div class="float-bar-qrcode-title __vo2">关注微信公众号</div>
								<div class="float-bar-qrcode __vo2">
									<img
										src="https://s1.xmcdn.com/lib/xmweb/images/qrcode_iloveximalaya_1_e278f36.jpg"
										alt="" style="width:140px;height:140px" class="__vo2" />
								</div>
								<div class="float-bar-qrcode-content gray-9 __vo2">
									<div class="__vo2">扫一扫 关注我</div>
								</div>
							</div>
						</div>
					</div>
					<div class="float-bar-item __vo2">
						<a class="float-bar-item-icon gray-c pointer-orange __vo2"
							title="意见反馈" rel="nofollow" target="_blank"
							href="https://www.sobot.com/chat/pc/index.html?sysNum=5d7fe6fbeb72499f9c562f24d6401a50"><i
							class="float-bar-t-35 xuicon xuicon-feedback __vo2"></i></a>
					</div>
				</div>
			</div>
		</main>
		
		
	<div class="xm-player-case">
		<div class="xm-player is-locked">
			<div class="hand"></div>
			<div class="box-shadow-wrapper">
				<div class="xm-player-lock">
					<svg class="icon icon-quanjubofangqi-suoding " width="10" height="10">
						<use xlink:href="#icon-quanjubofangqi-suoding"></use>
					</svg>
				</div>
			</div>
			<div class="xm-player-wrapper">
				<a class="xm-player-cover fl" href="/"><img
					src="https://s1.xmcdn.com/lib/xmweb/images/track_60_d464a9a.png"
					alt="" mobile_small="30" /></a>
				<div class="xm-player-btns fl">
					<a href="javascript:;" class="prev"><svg
					class="icon icon-quanjubofangqi-shangyiqu " width="10"
					height="10">
					<use xlink:href="#icon-quanjubofangqi-shangyiqu"></use></svg></a><a
					href="javascript:;" class="play"><i
					class="xuicon xuicon-quanjubofangqi-bofang"></i></a><a
					href="javascript:;" class="next"><svg
					class="icon icon-quanjubofangqi-xiayiqu " width="10" height="10">
					<use xlink:href="#icon-quanjubofangqi-xiayiqu"></use></svg></a>
				</div>
				<div class="xm-player-body fl">
					<div class="xm-player-body-title">
						<a class="fm-title" title="喜马拉雅" href="/"> <!-- -->喜马拉雅
						</a>
					</div>
					<div>
						<div class="xm-player-progress">
							<i class="xm-player-progress_load" style="width:0%"></i>
							<i class="xm-player-progress_cur" style="width:0%">
							<span class="xm-player-progress_btn">
								<svg class="icon icon-quanjubofangqi-dian " width="10" height="10">
									<use xlink:href="#icon-quanjubofangqi-dian"></use>
								</svg>
							</span>
							</i>
						</div>
						<div class="xm-player-playtime">
							00:00:00<span class="gray-9"> / <!-- -->00:00:00
							</span>
						</div>
					</div>
				</div>
				<div>
					<div class="xm-player-oprations fl">
						<div class="xm-player-play-rate-container">
							<div class="play-rate-item">3.0</div>
							<div class="play-rate-item">2.0</div>
							<div class="play-rate-item">1.75</div>
							<div class="play-rate-item">1.5</div>
							<div class="play-rate-item">1.25</div>
							<div class="play-rate-item actived">1.0</div>
							<div class="play-rate-item">0.75</div>
							<div class="play-rate-item">0.5</div>
						</div>
						<a src="javascript:;" class="btn play-rate">x <!-- -->1.0
						</a><a src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-dianzan " width="18"
								height="18">
								<use xlink:href="#icon-quanjubofangqi-dianzan"></use></svg></a><a
							src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-xiazai " width="18" height="18">
								<use xlink:href="#icon-quanjubofangqi-xiazai"></use></svg></a><a
							src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-fenxiang " width="18"
								height="18">
								<use xlink:href="#icon-quanjubofangqi-fenxiang"></use></svg></a>
					</div>
					<div class="xm-player-controls fl ">
						<div class="xm-player-volume-wrapper ">
							<div class="xm-player-volume">
								<div class="xm-player-volume-progress">
									<i class="xm-player-volume_cur" style="height:100%"><span
										class="xm-player-volume_btn"><svg
												class="icon icon-quanjubofangqi-dian " width="10"
												height="10">
												<use xlink:href="#icon-quanjubofangqi-dian"></use></svg></span></i>
								</div>
							</div>
						</div>
						<a src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-yinliang " width="18"
								height="18">
								<use xlink:href="#icon-quanjubofangqi-yinliang"></use></svg></a><a
							src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-xunhuan " width="18"
								height="18">
								<use xlink:href="#icon-quanjubofangqi-xunhuan"></use></svg></a><a
							src="javascript:;" class="btn"><svg
								class="icon icon-quanjubofangqi-bofangliebiao " width="18"
								height="18">
								<use xlink:href="#icon-quanjubofangqi-bofangliebiao"></use></svg></a>
					</div>
				</div>
			</div>
		</div>
		<div class="xm-player-list-wrapper xm-player-list-wrapper_hide ">
			<div class="xm-player-list">
				<div class="xm-player-list-head clearfix">
					<h4>
						播放列表(
						<!-- -->
						0
						<!-- -->
						)
					</h4>
					<div class="sort hidden">
						<span class="orange-1">正序</span> | <span>倒序</span>
					</div>
				</div>
				<div class="xm-player-list-content">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>
		
		
		<footer id="rootFooter" class="footer _S7p">
			<div class="footer-nav  _P5">
				<div class="nav-wrapper clearfix _P5">
					<div class="nav-item _P5">
						<p class="title _P5">热门搜索</p>
						<a class="nav-txt _P5" href="/waiyu/yingyu/mr34t1991/">新概念英语</a><a
							class="nav-txt _P5" href="/ertong/gushi/mr15t151/">睡前故事</a><a
							class="nav-txt _P5" href="/youshengshu/wuxia/">武侠小说</a><a
							class="nav-txt _P5" href="/yule/mr10t3202/">鬼故事</a><a
							class="nav-txt _P5" href="/yinyue/qingyinyue/">轻音乐</a><a
							class="nav-txt _P5" href="/xiangsheng/xiangsheng/">相声</a><a
							class="nav-txt _P5" href="/xiqu/jingju/">京剧</a><a
							class="nav-txt _P5" href="/renwen/guoxue/">国学</a>
					</div>
					<div class="nav-item _P5">
						<p class="title _P5">特色产品</p>
						<a class="nav-txt _P5" rel="nofollow"
							href="https://ximalayahaoshengyin.tmall.com/" target="_blank">新声活商城-开启你的新生活</a><a
							class="nav-txt _P5" rel="nofollow"
							href="http://ximalayasckj.sxl.cn/" target="_blank">声创空间</a><a
							class="nav-txt _P5" rel="nofollow"
							href="http://game.ximalaya.com/games-operation/v1/games/list"
							target="_blank">游戏联运</a>
					</div>
					<div class="nav-item _P5">
						<p class="title _P5">关注我们</p>
						<a class="nav-txt _P5" rel="nofollow"
							href="http://blog.ximalaya.com/" target="_blank">官方博客</a><a
							class="nav-txt weixin _P5" rel="nofollow" href="javascript:;">微信公众号</a><a
							class="nav-txt _P5" rel="nofollow"
							href="http://weibo.com/ximala/" target="_blank">新浪微博</a><a
							class="nav-txt js-qq _P5" rel="nofollow" href="javascript:;">QQ公众号</a><a
							class="nav-txt _P5" rel="nofollow"
							href="http://tieba.baidu.com/f?kw=%E5%96%9C%E9%A9%AC%E6%8B%89%E9%9B%85fm"
							target="_blank">贴吧</a><a class="nav-txt _P5" rel="nofollow"
							href="http://buluo.qq.com/p/barindex.html?bid=272710"
							target="_blank">兴趣部落</a>
					</div>
					<div class="nav-item _P5">
						<p class="tit _P5">APP下载</p>
						<a
							href="http://www.ximalaya.com/down?tag=and-sem-baidu&amp;client=ios"
							target="_blank" class="download-btn download-ios _P5"><i
							class="xuicon xuicon-iOS _P5"></i>iPhone</a><a
							href="http://www.ximalaya.com/down?tag=web&amp;client=android"
							target="_blank" class="download-btn download-android _P5"><i
							class="xuicon xuicon-android _P5"></i>Android</a>
					</div>
				</div>
				<div class="cooper-wrapper clearfix _P5">
					<p class="title _P5">合作与服务</p>
					<div class="nav-item _P5">
						<a href="http://open.ximalaya.com" target="_blank" rel="nofollow"
							class="_P5"><i class="icon12 icon12-open _P5"></i>
						<div class="inl-b _P5">
								<span class="gray-6 _P5">开放平台</span>
								<p class="gray-9 _P5">对接海量精彩内容</p>
							</div></a>
					</div>
					<div class="nav-item _P5">
						<a href="http://a.ximalaya.com/" target="_blank" rel="nofollow"
							class="_P5"><i class="icon12 icon12-xipeiyin _P5"></i>
						<div class="inl-b _P5">
								<span class="gray-6 _P5">喜配音平台</span>
								<p class="gray-9 _P5">有趣·有料的音频创作平台</p>
							</div></a>
					</div>
					<div class="nav-item _P5">
						<a href="https://www.ximalayaos.com/#/ " target="_blank"
							rel="nofollow" class="_P5"><i
							class="icon12 icon12-xiaoyaai _P5"></i>
						<div class="inl-b _P5">
								<span class="gray-6 _P5">小雅智能</span>
								<p class="gray-9 _P5">智能连接垂直品类硬件</p>
							</div></a>
					</div>
					<div class="nav-item _P5">
						<a href="http://car.ximalaya.com/#/ " target="_blank"
							rel="nofollow" class="_P5"><i
							class="icon12 icon12-chezai _P5"></i>
						<div class="inl-b _P5">
								<span class="gray-6 _P5">车联网平台</span>
								<p class="gray-9 _P5">自在出行，听我想听</p>
							</div></a>
					</div>
					<div class="nav-item _P5">
						<a href="http://www.qingxuetang.com/" target="_blank"
							rel="nofollow" class="_P5"><i
							class="icon12 icon12-qingxuetang _P5"></i>
						<div class="inl-b _P5">
								<span class="gray-6 _P5">企业版</span>
								<p class="gray-9 _P5">企业培训·员工学习</p>
							</div></a>
					</div>
				</div>
			</div>
			<div class="footer-contact _oQm">
				<p class="tips _oQm">喜马拉雅电台是一个专业的音频分享平台，精彩内容包括有声书，相声段子，音乐，新闻，综艺娱乐、儿童、情感生活、评书、外语、培训讲座、百家讲坛、广播剧、历史人文、电台、商业财经、IT科技、健康养生、校园电台、汽车、旅游、电影、游戏等5453多个分类，上千万条声音。听书听催眠音乐，让你随时随地，听我想听！</p>
				<div class="quickEntries _oQm"></div>
				<div class="friendLinks _oQm"></div>
			</div>
			<div class="footer-copyright _GM">
				<div class="link-wrapper _GM">
					<a href="/more/aboutus/" class="item _GM" title="关于我们"
						rel="nofollow">关于我们 | </a><a href="/more/business/"
						class="item _GM" title="联系我们" rel="nofollow">联系我们 | </a><a
						href="/more/officialnews/" class="item _GM" title="公司新闻"
						rel="nofollow">公司新闻 | </a><a href="http://ximalaya.zhiye.com/home"
						class="item _GM" title="招贤纳士" rel="nofollow">招贤纳士 | </a><a
						href="https://www.sobot.com/chat/pc/index.html?sysNum=5d7fe6fbeb72499f9c562f24d6401a50"
						class="item _GM" title="用户反馈" rel="nofollow" target="_blank">用户反馈
						| </a><a href="//www.ximalaya.com/passport/register_rule"
						class="item _GM" title="使用协议" rel="nofollow">使用协议 | </a><a
						href="javascript:;" class="item _GM" title="版权声明" rel="nofollow">版权声明
						| </a><a href="http://open.ximalaya.com" class="item _GM" title="开放平台"
						rel="nofollow">开放平台 | </a><a
						href="http://liveroom.ximalaya.com/live" class="item _GM"
						title="直播平台" rel="nofollow">直播平台 | </a><a
						href="//www.ximalaya.com/self_discipline_commit" class="item _GM"
						title="自律承诺" rel="nofollow">自律承诺</a>
				</div>
				<p class="copyright-cont _GM">
					Copyright © 2012-
					<!-- -->
					2019
					<!-- -->
					www.ximalaya.com lnc.ALL Rights Reserved
				</p>
				<p class="copyright-cont _GM">上海证大喜马拉雅网络科技有限公司 版权所有
					公司地址：上海市闵行区紫星路588号2幢2062室 客服热线：400-838-5616</p>
				<p class="copyright-cont _GM">
					信息网络传播视听节目许可证1908287号 | 互联网直播服务备案号：沪ILS备201708210007 |
					沪网文【2016】6034-453号沪ICP备13027243号-3 <span class="icon-icp _GM"></span>沪公网安备
					31011502005603号
				</p>
				<p class="copyright-cont _GM">
					违法不良信息举报电话：400-838-5616 | <a target="_blank"
						href="//www.ximalaya.com/accusation_report" class="_GM">《举报受理和处置管理办法》</a>
				</p>
				<p class="copyright-cont _GM">
					<a rel="nofollow" href="http://www.shjbzx.cn/" target="_blank"
						title="上海互联网举报中心" class="_GM"><span
						class="icon-copyright email _GM"></span>上海互联网举报中心 |</a><a
						rel="nofollow"
						href="http://report.12377.cn:13225/toreportinputNormal_anis.do"
						target="_blank" title="网上有害信息举报专区" class="_GM"><span
						class="icon-copyright report _GM"></span>网上有害信息举报专区 |</a><a
						href="javascript:;" class="j-report-illegal _GM"><span
						class="icon-copyright warn _GM"></span>儿童色情举报专区 |</a><a rel="nofollow"
						href="https://search.szfw.org/cert/l/CX20170704038782890329"
						target="_blank" title="诚信网站" class="_GM"><span
						class="icon-copyright trust _GM"></span>诚信网站</a>
				</p>
			</div>
		</footer>
	</div>
	<script th:src="@{/src/main/resources/static/js/60a606ea7.js}"></script>
	<script>
        window.assetPrefixs = 'https://s1.xmcdn.com/lib/xmweb/';
        window.isSupportWebp  = (function(){
        	try {return document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') === 0 } catch (e) { return false }
        })()
      </script>
	<script>window.ENV = 'production';window.basename = ''</script>
	<script data-react-helmet="true">
            window.onload=function(){
              // 百度统计
              var obj = document.createElement('script');
              obj.src = "//hm.baidu.com/h.js?4a7d8ec50cfd6af753c4f8aee3425070";
              document.body.appendChild(obj);
            }
          </script>
	<script>window.__GRAPHQL_STATE__={};;</script>
	<script>window.__INITIAL_STATE__ = {"award":
	{"AdditionalData":{"TdkData":
	{"ret":200,"data":{"tdkMeta":
	{"title":"喜马拉雅-国内专业音频分享平台,随时随地,听我想听！","keywords":"有声小说,喜马拉雅,喜马拉雅听书,喜马拉雅电台,喜马拉雅好声音,网络电台,个人电台,音频,有声书,相声,儿童,音乐,情感,郭德纲,罗辑思维,糗事百科","description":"国内专业音频分享平台，随时随地，听我想听！4亿用户选择的在线音频平台。马东、郭德纲、吴晓波等20多万大咖入驻，1亿多条原创有声内容覆盖有声书、儿童、相声评书、财经新闻、音乐等328类。","tips":"喜马拉雅电台是一个专业的音频分享平台，精彩内容包括有声书，相声段子，音乐，新闻，综艺娱乐、儿童、情感生活、评书、外语、培训讲座、百家讲坛、广播剧、历史人文、电台、商业财经、IT科技、健康养生、校园电台、汽车、旅游、电影、游戏等5453多个分类，上千万条声音。听书听催眠音乐，让你随时随地，听我想听！","quickEntries":[],"friendLinks":
			[],"hotLinks":[]}}}}}};
	</script>
	<script>!function(e){function r(r){
		for(var n,c,i=r[0],u=r[1],f=r[2],d=0,s=[];d<i.length;d++)c=i[d],o[c]&&s.push(o[c][0]),o[c]=0;
		for(n in u)Object.prototype.hasOwnProperty.call(u,n)&&(e[n]=u[n]);
		for(l&&l(r);s.length;)s.shift()();return a.push.apply(a,f||[]),t()}
		function t(){for(var e,r=0;r<a.length;r++){
		for(var t=a[r],n=!0,i=1;i<t.length;i++){var u=t[i];0!==o[u]&&(n=!1)}n&&(a.splice(r--,1),e=c(c.s=t[0]))}return e}
		var n={},o={46:0},a=[];function c(r){if(n[r])return n[r].exports;var t=n[r]={i:r,l:!1,exports:{}};
		return e[r].call(t.exports,t,t.exports,c),t.l=!0,t.exports}c.e=function(e)
		{var r=[],t=o[e];if(0!==t)if(t)r.push(t[2]);else{var n=new Promise(function(r,n)
		{t=o[e]=[r,n]});r.push(t[2]=n);var a,i=document.getElementsByTagName("head")[0],u=document.createElement("script");u.charset="utf-8",u.timeout=120,c.nc&&u.setAttribute("nonce",c.nc),u.src=function(e)
		{return c.p+"scripts/"+{0:"806b9c",1:"f03a30",2:"e774cf",3:"6b67c0",4:"e0a65d",5:"d3aa95",6:"85236f",7:"a20a7b",8:"4693c0",9:"2a0ce6",10:"2c7b02",11:"a3542d",12:"45febf",13:"53ab2f",14:"efeab2",15:"bce1a6",16:"e1a3cc",17:"ebc610",18:"e3d004",19:"c1ba1d",20:"5125b3",21:"771d4d",22:"1ed841",23:"42850e",24:"fb7526",25:"1c8c17",26:"180004",27:"2d6de7",28:"8c7806",29:"ee358f",30:"2c140d",31:"95238f",32:"701c73",33:"020609",34:"0f77a4",35:"f67cc3",36:"dc349b",37:"71e663",38:"1189f7",39:"56d0eb",40:"19392a",41:"cd7d3d",42:"369a09",43:"7e3cd9",44:"f52662"}[e]+".js"}(e),0!==u.src.indexOf(window.location.origin+"/")&&(u.crossOrigin="anonymous"),
		a=function(r){u.onerror=u.onload=null,clearTimeout(f);
		var t=o[e];if(0!==t){if(t){
		var n=r&&("load"===r.type?"missing":r.type),a=r&&r.target&&r.target.src,c=new Error("Loading chunk "+e+" failed.\n("+n+": "+a+")");c.type=n,c.request=a,t[1](c)}o[e]=void 0}};
		var f=setTimeout(function(){a({type:"timeout",target:u})},12e4);u.onerror=u.onload=a,i.appendChild(u)}
		return Promise.all(r)},c.m=e,c.c=n,c.d=function(e,r,t){c.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},c.r=function(e){
		"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},
		c.t=function(e,r){if(1&r&&(e=c(e)),8&r)return e;if(4&r&&"object"==typeof e&&e&&e.__esModule)return e;
		var t=Object.create(null);if(c.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:e}),2&r&&"string"!=typeof e)
		for(var n in e)c.d(t,n,function(r)
		{return e[r]}.bind(null,n));return t},c.n=function(e){var r=e&&e.__esModule?
		function(){
			return e.dufault;
		}:function(){return e};return c.d(r,"a",r),r},c.o=function(e,r){
		return Object.prototype.hasOwnProperty.call(e,r)},c.p="https://s1.xmcdn.com/lib/xmweb/",c.oe=function(e){
		throw console.error(e),e};var i=window.ximalaya=window.ximalaya||[],u=i.push.bind(i);i.push=r,i=i.slice();
		for(var f=0;f<i.length;f++)r(i[f]);var l=u;t()}([]);</script>
	<script crossorigin="anonymous" src="http://locahost/src/main/resources/static/js/440e0091f.js"></script>
	<script crossorigin="anonymous" src="http://locahost/src/main/resources/static/js/eea248.js"></script>
	<script src="http://locahost/src/main/resources/static/js/1724f883c.js"></script>
	<script>
		!function(){"use strict";var n,o,t;n=window,o=document,
		(t=o.createElement("script")).crossOrigin="",t.src="//s1.xmcdn.com/sr012018/msdk/1.1.3/_fm.js",
		o.body.insertBefore(t,o.body.firstChild),t.onload=function(){
			n._fm.__config={a:"xmweb",v:"1.2.95",t:6,r:.5,f:5,w:"monitor"};n._fm();
		}();
	</script>
	<script>
		var _maq=_maq||[];_maq.push(['account','9a120171'],['channel','PC'],['point','PC'],['platform','PC']);(function(){
		var ma=document.createElement('script');ma.type='text/javascript';
			ma.async=true;ma.src=('https:'==document.location.protocol?'https':'http')+'://www.qchannel03.cn/m2.js?w='+_maq[0][1];
				var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ma,s)
			})();
		};
	</script>
</body>
</html>