<!DOCTYPE html>
<html>
  <head>
    <title>shangchuan.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/e3d3b.css">
	<link href="../static/css/share.css" rel="styleSheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<script src="../static/layui/layui.js"></script>
	<link rel="stylesheet" href="../static/layui/css/layui.css">
  </head>
  
  <body>
    	<header class="holder-empty _22L">
			<div id="rootHeader" class="xui-header _tvdQ" style="top: 0px;">
				<div class="xui-header-inner _tvdQ">
					<a class="xui-header-logo _tvdQ" href="">珠穆朗瑪</a>
					<nav class="xui-header-nav pos-r _tvdQ">
						<span class="tab-link-category _tvdQ">
							<a class="tab-link _tvdQ" href="">
								<span class="_tvdQ">发现</span>
							</a>
						</span>
						<a class="tab-link _tvdQ" rel="nofollow" href="https://www.ximalaya.com/my/">
							<span class="_tvdQ">我的</span>
						</a>
						<a href="http://www.ximalaya.com/download/" target="_blank" class="tab-link p-l-10 _tvdQ" style="width: 70px;">
							<span class="_tvdQ">什么</span>
						</a>
					</nav>
					<div class="xui-header-searchWrapper _tvdQ">
						<form class="xui-header-search focused" autocomplete="off">
							<input class="xui-header-search-input" type="text" placeholder="专辑/声音/用户" autocomplete="new-password">
							<span class="xui-header-search-button xui-header-search-button_position">
								<i class="xuicon xuicon-web_ic_search"></i>
							</span>
						</form>
					</div>
					<div class="xui-header-iconNav _tvdQ">
						<a href="http://www.ximalaya.com/upload/" target="_blank" class="xui-header-iconNav-item  header-gray _tvdQ" rel="nofollow">
							<i class="xuicon xuicon-web_ic_upload_h1 _tvdQ"></i>
								<p class="title _tvdQ">上传</p>
						</a>
						<a href="http://studio.ximalaya.com/" class="xui-header-iconNav-item  header-gray  _tvdQ" rel="nofollow">
							<i class="xuicon xuicon-web_ic_backstage_h1 _tvdQ"></i>
								<p class="title _tvdQ">主播后台</p>
						</a>
						<div class="xui-header-iconNav-item _tvdQ" style="width: 60px; margin-left: 20px;">
							<a class="user-notice new-notices " href="">
								<img class="img _pZ5" src="test.jpg" >
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div style="background-color: blue;width: 700px;margin: 0px auto; margin-top: 30px;border-radius:10px;" >
			<form class="layui-form layui-form-pane" action="">
				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 700px;margin: 0px auto;">
					<ul class="layui-tab-title">
					    <li class="layui-this">选择音频</li>
					</ul>
					<input type="file" class="layui-btn" style="margin-left: 200px; margin-top: 10px;">
				</div>
				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 700px;margin: 0px auto;">
					<ul class="layui-tab-title">
					    <li class="layui-this">导入专辑</li>
					</ul>
					<div class="layui-form-item" style="margin-left: 200px; margin-top: 10px;"> 
					    <label class="layui-form-label">单行选择框</label>
					    <div class="layui-input-block">
					      <select name="interest" lay-filter="aihao">
					        <option value=""></option>
					        <option value="0">写作</option>
					        <option value="1" selected="">阅读</option>
					        <option value="2">游戏</option>
					        <option value="3">音乐</option>
					        <option value="4">旅行</option>
					      </select>
					    </div>
					  </div>
				</div>
				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 700px;margin: 0px auto;">
					<ul class="layui-tab-title">
					    <li class="layui-this">添加简介</li>
					</ul>
				</div>
				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 700px;margin: 0px auto;">
					<ul class="layui-tab-title">
					    <li class="layui-this">上传</li>
					</ul>
				</div>
			</form>
		</div>
  </body>
</html>
