
<!DOCTYPE html>
<html lang="zh">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="theme-color" content="#000000">
<link rel="shortcut icon"
	href="//s1.xmcdn.com/lib/common/last/resource/1.0.0/icon/www/favicon.ico">
<title>主播中心</title>
<link
	href="../static/css/main.css?v=201811211444"
	rel="stylesheet">
<script type="text/javascript">
	(function(e, t, n, a, o, i, m) {
		e._xmObjName = o, e[o] = e[o] || function() {
			(e[o].q = e[o].q || []).push(arguments)
		}, e[o].l = e[o].l || +new Date, i = t.createElement(n), i.asyn = true,
				i.src = a, m = t.getElementsByTagName(n)[0], m.parentNode
						.insertBefore(i, m)
	})(window, document, "script",
			"//s1.xmcdn.com/lib/xmlog/last/xmlog.js?v=1496409700540", "xmLog");
</script>
</head>

<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<script type="text/javascript">
		window.config = {
			currentMenu : '{"score":"90","myId":"1","name":"首页","icon":"http://fdfs.xmcdn.com/group36/M06/75/49/wKgJTVpFpCXy0Zb-AAAC8zAXIkw612.png","isLeaf":"1","parentId":"0","url":"http://studio.ximalaya.com/home/container/ts-123456","openType":"1"}',
			project : ''
		}
	</script>
	<div id="root"></div>
	<script type="text/javascript"
		src="../static/js/main.js?v=201811211444"></script>
</body>

</html>